* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 100%;
    padding: 0px 120px 0px 120px;
    font: 500 16px/20px 'Proxima Nova',Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 32px;
}
.main {
    margin-top: 110px;
}
.header {
    font-size: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 67px;
    padding: 15px 120px 15px 120px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 150px;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
  padding: 5px 0px 5px 0px;
}
.header button {
    padding: 15px 30px 15px 30px;
    background-color: black;
    color: white;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items:  center;
   
}
li{
    list-style: none;
}
.list {
    visibility: hidden;
     opacity: 0;
    transition: 1s;
    position: absolute;
    background-color: white;
}
ul li:hover > .list{
   visibility: visible;
    opacity: 1;    
}
h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000;
    font-size: 64px;
    line-height: 66px;
    font-weight: 900;
}
.p2 {
    text-indent: 40px;
}
.main-menu {
    display: flex;
    padding: 50px 100px 50px 100px;
    font-size: 16px;
    justify-content: space-between
}
.main-menu li:hover {
    border-bottom: 1px solid yellow;
}
video {
 
}
.button button {
    font-size: 17px;
    margin-top: 50px;
    padding: 15px 50px 15px 50px;
    background-color: black;
    color: white;
}
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;

}
.contacts span {
    display: flex;
    align-items: center;
}
.contacts {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 30px;
     border-bottom: 1px solid #e2e2e2;
    
}
.tovn span {
    margin-top: 15px;
}
.tovn p {
    line-height: 23px;
}
.tovn h4 {
    margin-bottom: 10px;
}
.soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 15px;
}
/*media*/

@media (min-width: 992px) and (max-width:1199px){
    .main-menu {
            padding: 50px 0px 50px 0px;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video img {
       margin-bottom: 30px;
    }
   .video video {
        margin-bottom: 30px;
   }
    
}
@media (min-width: 768px) and (max-width:991px){
    .main-menu {
            padding: 50px 0px 25px 0px;
            font-size: 13px;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video img {
       margin-bottom: 30px;
    }
   .video video {
        margin-bottom: 30px;
   }
   .header {
       padding: 15px 10px 15px 10px;
   }
   .content {
       width: 50%;
   }
   .list {
       right: 15px;
   }
   h1 {
       font-size: 47px;
   }
   body {
        padding: 0px 50px 0px 50px;
   }
}
@media (max-width: 767px) and (min-width: 480px){
    .main-menu {
            padding: 50px 0px 25px 0px;
            font-size: 9px;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video img {
        width: 400px;
       margin-bottom: 30px;
    }
   .video video {
        margin-bottom: 30px;
   }
   .header {
       padding: 15px 10px 15px 10px;
   }
   .header button {
    padding: 15px 15px 15px 15px;
   }
   .content {
       width: 60%;
   }
   .list {
       right: 15px;
   }
   h1 {
       text-align: center;
       font-size: 47px;
   }
   body {
        padding: 0px 10px 0px 10px;
   }
   .main p {
       text-align: center;
       font-size: 15px;
   }
   video {
       width: 400px;
   }
   .list {
       width: 100%;
       text-align: center;
       padding-top: 20px;
       padding-bottom: 20px;
   }
   .contacts {
       flex-wrap: wrap;
       padding-left: 20px;
       padding-right: 20px;
   }
   .button {
        margin-bottom: 100px;
   }
}
@media (max-width: 479px){
    .header {
        flex-direction: column;
    }
    .main-menu {
            padding: 50px 0px 25px 0px;
            font-size: 9px;
            flex-wrap: wrap;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video img {
        width: 200px;
       margin-bottom: 30px;
    }
   .video video {
        margin-bottom: 30px;
   }
   .header {
       padding: 15px 10px 15px 10px;
       height: 100px;
   }
   .header button {
    padding: 5px 15px 5px 15px;
   }
   .content {
       width: 100%;
       margin-top: 30px;
   }
   .list {
       right: 15px;
   }
   h1 {
       text-align: center;
       font-size: 30px;
       line-height: 40px;
   }
   body {
        padding: 0px 10px 0px 10px;
   }
   .main p {
       text-align: center;
       font-size: 15px;
   }
   video {
       width: 200px;
   }
   .list {
       width: 100%;
       text-align: center;
       padding-top: 20px;
       padding-bottom: 20px;
   }
   .contacts {
       flex-wrap: wrap;
       padding-left: 20px;
       padding-right: 20px;
   }
   .button {
        margin-bottom: 100px;
   }

}
