* {
	box-sizing: border-box;
}
.logo {
	border-radius: 10px;
	float: left;
	width: 120px;
}
.logo img {
	width: 100%;
}
.text {
	width: 50%;
	background-color: blue;
	float: left;
}
.blocks {
	float: left;
	width: calc( 50% - 120px );
	height: 30px;
	background-color: red;
}
.clearfix{
	clear: both;
}